<!DOCTYPE html>
<html>
<head>
  <title>SuppotTicket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<ul class="nav navbar-nav">
			<a class="navbar-brand"> Articles </a>
			<li> 
				<%= link_to "Articles", "#" %> 
			</li>

			<li>
				<%= link_to "Support Tickets" %>
			</li>
		</ul>

	</nav>

<%= yield %>

</body>
</html>
